{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block title %}{{ article.title|striptags }}{% endblock %}

{% block extra_head %}
{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
  {{ translations.entry_hreflang(article) }}
{% endif %}
{% endblock %}

{% block content %}
<section>
  <article>
    <header>
      <h1>
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
      </h1>
      {% include 'article_infos.html' %}
    </header>

    <div>
        {{ article.content }}
    </div>
  </article>
</section>
{% endblock %}
