                <abbr class="published" title="{{ article.date.isoformat() }}">
                    Veröffentlicht: {{ article.locale_date }}
                </abbr>
                in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                {% if article.modified %}
                    <br />
                    <abbr class="modified" title="{{ article.modified.isoformat() }}">
                        Aktualisiert: {{ article.locale_modified }}
                    </abbr>
                {% endif %}
                {% import 'translations.html' as translations with context %}
                {{ translations.translations_for(article) }}
