<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="InFA ev">
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
    <link rel="shortcut icon" type="image/x-icon" href="theme/images/logo.png" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% block extra_head %}{% endblock extra_head %}
</head>

<body>
    <header>
        <h1>{{ SITENAME }}</h1>
        <h2>Fachschaft und Alumni der Informatik Göttingen e.V.</h2>
    </header>
    <nav>
        <input type="checkbox" id="menucheck" checked="false" />
        <label for="menucheck">&#9776;</label>
        <ul>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU -%}
        {% for pg in pages %}
            <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
        {% endfor %}
        {% endif %}
        {% if DISPLAY_CATEGORIES_ON_MENU -%}
        {% for cat, null in categories %}
            <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
        {% endfor %}
        {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer id="footer">
        InFA e.V.
        | <span>c/o AStA, Goßlerstr. 16a, 37073 Göttingen</span>
	| <span>VR 202145</span>
        | <span>infa {aett} uni-goettingen.de</span>
        | <a href="/files/pgpkey-infa.asc">PGP Key</a>
    </footer>
</body>
</html>
