            <dl>
    {% for vevent in events[page.slug] %}
                <dt>{{ vevent.summary }}</dt>
                <dd>
                    <!-- <p>{{ vevent.description|replace('\n\n', '<br>') }}</p> -->
                    <time datetime="{{ vevent.dtstart.isoformat() }}">
                        {{ vevent.dtstart|strftime('%d.%m.%Y %H:%M') }}
                    </time> - <time datetime="{{ vevent.dtend.isoformat() }}">
                        {% if vevent.dtstart.date() == vevent.dtend.date() %}
                            {{ vevent.dtend|strftime('%H:%M') }}
                        {% else %}
                            {{ vevent.dtend|strftime('%d.%m.%Y %H:%M') }}
                        {% endif %}
                    </time>
                    <p>{{ vevent.location }}</p>
                </dd>
    {% endfor %}
            </dl>
