{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
    {% for article in articles_page.object_list %}

        {# First item #}
        {% if loop.first and not articles_page.has_previous() %}
            <aside>
                <article>
                    <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                    {% include 'article_infos.html' %}{{ article.content }}
                </article>
            </aside>
            {% if loop.length > 1 %}
            <hr />
            {% endif %}
        {# other items #}
        {% else %}
            {% if loop.first %}
                <section>
            {% endif %}
            <article>
                <header>
                    <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                    {% include 'article_infos.html' %}
                </header>

                {{ article.summary }}
                <a href="{{ SITEURL }}/{{ article.url }}">Weiterlesen</a>
            </article>
            <hr />
        {% endif %}
        {% if loop.last %}
            {% if loop.length > 1 or articles_page.has_other_pages() %}
                {% if articles_page.has_other_pages() %}
                    {% include 'pagination.html' %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
<section>
<h2>Pages</h2>
    <ul>
    {% for page in pages %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
</section>
{% endif %}
{% endblock content %}
