/*
 * Theme Eule for InFA
 * */

/* === Imports === */
/* @import url("filename"); */

@font-face{
    font-family: montserrat;
    src: url(montserrat.ttf);
}

/* === global, default and reset styles === */

a, abbr, address, b, body, blockquote, caption, cite, code, dd, del, dfn, div, dl, dt, em,
fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, li, label, legend,
object, ol, p, pre, q, s, samp, small, span, strong, sub, sup,
table, tbody, tfoot, thead, tr, th, td, u, ul, var {
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    color: #000;
    line-height: 1.6;
    font-size: 14px;
    font-family: montserrat;
}

header, main, footer {
    display: block;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {font-size: 2em }
h2 {font-size: 1.571em}
h3 {font-size: 1.429em}
h4 {font-size: 1.286em}
h5 {font-size: 1.143em}
h6 {font-size: 1em}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.1;
    margin-bottom: .8em;
}

h3, h4, h5, h6 {
    margin-top: .8em;
}

dt {
    font-size: 1.5em;
}
dd {
    margin-left: 10px;
}
dl p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

strong, b {
    font-weight: bold;
}
em, i, dfn {
    font-weight: normal;
    font-style: italic;
}

a {
    text-decoration: none;
    color: #c90;
}
a:hover,
a:focus {
    color: #960;
}

hr {
    margin: 1.5em 0;
    color: #c90;
}

:focus {
    outline: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* === basic layout === */

body {
    display: flex;
    flex-flow: column;
}

body > * {
    width: 80%;
    background: #fff;
    margin: 0 auto;
    /*box-shadow: 0px 0px 25px #dd44cc33;*/
    padding: 20px;
    flex: 1;
}

body > *:first-child {
}

body > header {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 20px;
    height: 120px;
}

body > header > * {
    padding-left: 180px;
}

body > main {
    min-height: 50vh;
}

body > nav {
    position: sticky; 
    top: 0;
    padding: 0 20px;
    color: #fff;
    background-color: #c90;
    border-bottom: 2px #fff solid;
    /* todo: add pseudeelements to fix corner of border */
}

body > footer {
    margin-bottom: 20px;
    background-color: #c90;
    color: #fff;
    font-weight: bold;
}

/* === Header === */

body > header h1 {
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: 1px 1px 4px #c90;
    color: #fff;
}

body > header h2 {
    color: #c90;
    font-size: 2em;
    font-weight: bold;
    /*
    text-shadow: 1px 1px 3px #c90;
    */
}

/* === navigation === */

body > nav ul  {
    display: flex;
    flex-direction: row;
    padding: 0;
    white-space: nowrap;
    list-style: none;
    margin: 0 20px -2px;
    background-color: #c90;
}

body > nav ul li {
    flex: 1;
}

body > nav ul li a {
    display: block;

    padding: 8px;
    /*margin-left: 0;*/

    border-top: #fff 2px solid;
    border-left: #fff 1px solid;
    border-right: #fff 1px solid;
    border-bottom: none;
    color: inherit;
    font-weight: bold;
}

body > nav ul li:first-child a {
    border-top-left-radius: 5px;
    border-left: #fff 2px solid;
}
body > nav ul li:last-child a {
    border-top-right-radius: 5px;
    border-right: #fff 2px solid;
}

/*
body > nav ul li a:visited {
    color: #fff;
}
*/

body > nav ul li a:hover,
body > nav ul li a:active,
body > nav ul li a:focus {
    color: #fff;
    background-color: #960;
    /*border-color: #c90;*/
    box-shadow: 0 0 5px #c90;
}

/* --- hamburger menu --- */

#menucheck {
    display: none;
}

#menucheck + label {
    display: none;
    height: 35px;
    width: 35px;
    color: #fff;
    font-weight: bold;
    background-color: #c90;
    border-radius: 5px;
    text-align: center;
    line-height: 2.5;
    border: 2px solid #fff;
}

/* === main content === */

body > main ul {
    padding-left: 1.6em;
}

/* --- Images --- */

body > main img {
    max-width: 100%;
}

body > main img.right,
body > main figure.right {
    float: right;
    margin: 0 0 2em 2em;
}

body > main img.left,
body > main figure.left {
    float: left;
    margin: 0 2em 2em 0;
}

/* --- inside articles --- */

article hr {
    margin-left: 23px;
    margin-right: 23px;
    color: #000;
}

/* === footer === */

body > footer a,
/*body > footer a:visited,*/
body > footer a:active {
    color: #fff;
    text-decoration: underline;
}

body > footer a:hover,
body > footer a:focus {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

/* === responsive foo === */

@media (max-width: 600px) {

    /* --- header and nav --- */

    body > * {
        max-width: 100%;
    }

    body > header {
        margin-top: 0;
        height: auto;
        /*background-image: url("../images/logo.png");*/
        background-size: cover;
        background-position: center;
        background-color: #66f;
        top: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    body > header > * {
        padding-left: unset;
        text-align: center;
    }
    body > header > h2 {
        text-shadow: 1px 1px 3px #fff;
    }

    body > nav ul {
        flex-direction: column;
    }

    body > nav ul li a {
        border-radius: 0;
        border-bottom-style: solid;
        border-size: 2px;
    }
    body > nav ul li:first-child a {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    body > nav ul li:last-child a {
        border-bottom: none;
        border-radius: 0;
    }

    /* --- hamburger menu --- */

    #menucheck + label {
        display: block;
    }
    
    #menucheck:checked ~ ul {
        display: none;
    }
}
